fastapi
uvicorn[standard]
gunicorn
python-multipart
pandas
numpy
scikit-learn
openpyxl
plotly
matplotlib
seaborn
xgboost
catboost
motor
groq
pymongo
python-dotenv
dask[dataframe]
redis
celery
razorpay
PyJWT
bcrypt
google-auth
openai
